<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name=title}Job Search{/block}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Job Search</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#index.html">Home</a></li>
            <li><a href="#about.html">About</a></li>
            <li><a href="#contact.html">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#sign.html">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="main-body" class="container">
        <div class="row">
            <div class="col-sm-3">
              <div class="list-group">
                <a class="list-group-item" href="index.php">Home</a>
                <a class="list-group-item" href="page2.html">List all jobs</a>
                <a class="list-group-item" href="page3.html">Search for a job</a>
                <a class="list-group-item" href="page4.html">List of Employers</a>
                <a class="list-group-item" href="job_form.php">Advertise a Job</a>
              </div>
            </div>
            <div class="col-sm-9">
              {block name=body}{/block}
            </div>
        </div>
    </div>

  </body>
</html>